
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <div style="position:absolute;width:493px;height:274px;left:50%;top:30%;margin-left:-248px;margin-top:-137px;">
            <img src="~/WebSource/Picture/Error/404.jpg"/><!-- border:1px #000 solid; -->       
            
            <div style="position:relative;text-align:center;">
                <p style="font-size:25px;">妖兽啊~你要找的页面不小心跑丢啦~~~！</p>
                <p style="font-size:15px;">点这里 <a href="/Employee/Index">返回首页</a> 或者到 帮助中心 ！</p>
            </div>
            
                 
        </div>
        
    </div>
</body>
</html>
